@media screen and (min-width: 768px) {
  .custom-modal-dialog {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 4px; /* Add border-radius for a more modern look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for a more modern look */
  }
}

.Place-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  padding: 2%;
  max-width: 95%; /* Set the maximum width for the form */
  overflow-y: auto; /* Hide the scrollbar when not needed and only show when content overflows vertically */
}

.Place-form p,
.Place-form h2,
.Place-form h3 {
  margin-bottom: 1.5rem;
}

.Place-form label {
  display: block;
  margin-bottom: 0.625rem;
  margin-right: 2%;
  font-weight: bold;
  margin-top: 0.625rem;
}

.Place-form input,
.Place-form textarea,
.Place-form select {
  padding: 0.3125rem;
  margin-bottom: 1.25rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease; /* Add transition for smooth style changes */
}
.Place-form input:focus,
.Place-form textarea:focus,
.Place-form select:focus {
  border-color: #005fa3; /* Change border color on focus */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Add box-shadow on focus */
}

.Place-form input:disabled {
  background-color: #2e2e2e; /* Change the background color of disabled fields */
  color: #ffffff; /* Change the text color of disabled fields */
  border-color: #7d7d7d; /* Change the border color of disabled fields */
  opacity: 1; /* Override the default opacity setting for disabled fields */
}
  
.Place-form button[type="submit"],
.Place-form button,
.Place-form input[type="button"] {
  padding: 0.5rem 1rem;
  margin-top: 4%;
  border: none;
  border-radius: 3px;
  background-color: #028ad3;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for a more modern look */
  transition: all 0.3s ease; /* Add transition for smooth style changes */
}

  .Place-form input[type="file"] {
    margin-top: 4%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for a more modern look */
  }
  
  
  .Place-form button[type="submit"]:hover,
  .Place-form button:hover {
    background-color: #005fa3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for a more modern look */
  }
  
  .Place-form textarea{
    width: 100%;
    height: 75px;
    resize: none;
  }

  .Place-form .photo-preview {
    display: flex;
    align-items: center;
    margin-top: 4%;
  }
  
  .Place-form .photo-preview img {
    width: 15em;
    height: auto;
    margin-right: 4%;
  }
  
  .Place-form .photo-preview button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    background-color: #cc0000;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
  }
  
  .Place-form .photo-preview button:hover {
    background-color: #a30000;
  }
  .Place-form .clear-photos {
    margin-top: 4%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    background-color: #cc0000;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .Place-form .clear-photos:hover {
    background-color: #a30000;
  }
  
  .Place-form .error {
    color: #ff0000;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  select {
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 1em;
  }
  select option {
    background-color: #fff;
    color: #333;
  }