

.Place-form p{
  margin-bottom: 30px;
}
.Place-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #259DCC;
    
  }
  
  .Place-form label {
    display: block;
    margin-bottom: 10px;
    margin-right: 2%;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .Place-form input,
  .Place-form textarea {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .Place-form input:disabled {
    background-color: #2e2e2e; /* Change the background color of disabled fields */
    color: #ffffff; /* Change the text color of disabled fields */
    border-color: #7d7d7d; /* Change the border color of disabled fields */
    opacity: 1; /* Override the default opacity setting for disabled fields */
  }
  
  .Place-form input[type="file"] {
    margin-top: 4%;
  }
  
  .Place-form button[type="submit"],
  .Place-form button {
    padding: 2% 4%;
    margin-top: 4%;
    border: none;
    border-radius: 3px;
    background-color: #028ad3;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .Place-form button[type="submit"]:hover,
  .Place-form button:hover {
    background-color: #005fa3;
  }
  
  .Place-form textarea{
    width: 100%;
    height: 75px;
    resize: none;
  }

  /* Style for the preview of the uploaded photos */
  .Place-form .photo-preview {
    display: flex;
    align-items: center;
    margin-top: 4%;
  }
  
  .Place-form .photo-preview img {
    width: 10em;
    height: 10em;
    margin-right: 4%;
  }
  
  .Place-form .photo-preview button {
    padding: 1% 2%;
    border: none;
    border-radius: 3px;
    background-color: #cc0000;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
  }
  
  .Place-form .photo-preview button:hover {
    background-color: #a30000;
  }
  
  /* Style for the button to clear all uploaded photos */
  .Place-form .clear-photos {
    margin-top: 4%;
    padding: 2% 4%;
    border: none;
    border-radius: 3px;
    background-color: #cc0000;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
  }
  
  .Place-form .clear-photos:hover {
    background-color: #a30000;
  }

  .Place-form .error {
    color: #ff0000;
    font-size: 1.2em;
    font-weight: bold;
  }