.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0em 2em;
    background-color: #002E66;
}

.Left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Left h1 {
    padding-right: 1em;
}

/* Resize for responsive mobile phones */
@media screen and (max-width: 1060px) {
    .Header {
        width: max-content;
    }
}