.mapFilterComponent {
    width: fit-content;
    background-color: #002E66;
    color: white;
    border-radius: 0.3em;
    transition: opacity 0.5s ease-in;
    opacity: 1;
}

.mapFilterComponent h3{
    margin: 0.3em;
    text-decoration: underline;
}


aside form {
    border-radius: 0.5em;
    margin: 0.3em;
}

.categoriesFilterContainer p {
    margin: 0em;
}

.friendsFilterContainer {
    display: flex;
    flex-direction: column;
    margin: 0.4em;
}
