.mapFilterComponent {
    width: fit-content;
    background-color: #002E66;
    color: white;
    border-radius: 0.3em;
    transition: opacity 2s ease-in;
    opacity: 1;
    height: fit-content;
}

.mapFilterComponent h3{
    text-decoration: underline;
    margin: 0em 0em 0em 0.3em;
}

aside form {
    margin: 0 0.3em 0 0.3em;
}
.categoriesFilterContainer, .categoriesFilterContainer p {
    margin: 0em;
}

.friendsFilterContainer {
    display: flex;
    flex-direction: column;
}
