.NavMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.NavElement {
    display: flex;
    padding: 2em;
    text-decoration: none;
    color: #ffffff;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    height: 30%;
}

.NavElement span {
    padding: 0 0.5em;
}

.NavElement:hover {
    color: #000000;
}

/* Style for phone */
@media screen and (max-width: 1060px) {
    .NavElement {
        padding: 1em 1em 1.5em 1em;
    }
    .NavElement span {
        padding: 0 0.5em;
    }
}

@media screen and (max-width: 890px) {
    .Header {
        width: fit-content;
    }
}