  /* Header styles */
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  textarea {
    border: 0.1em solid black;
    border-radius: 1.3em;
    width: 70%;
    min-height: 100px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  

  button[type="submit"], button[name="clear"]{
    display: inline-block;
    position: relative;
    margin: 10px 10px;
    cursor: pointer;
    font-size: small;
    text-wrap: none;
    user-select: none;
    line-height: 20px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background-color: #20708d;
    color: #fff;
    border: 1px solid #004474;
    transition: all 0.3s ease; /* Add transition for smooth style changes */
  }
  
  button[type="submit"]:hover,
  button[name="clear"]:hover {
    background-color: #004474;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add larger box-shadow on hover for selected options */
  }
  
  button[type="submit"].selected,
  button[name="clear"].selected {
    background-color: #2ea1cb;
    color: #fff;
    border-color: #005fa3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for a more modern look */
  }
  
  button[type="submit"].selected:hover,
  button[name="clear"].selected:hover {
    background-color: #005fa3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add larger box-shadow on hover for selected options */
  }
  

  .photo-preview img {
    width: 25em;
    height: auto;
    margin-right: 50em;
  }

  .photo-preview {
    align-items: start;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  button[type="submit"][name="photos"]{
    margin-top: 1em;
  }

  button[type="submit"][name="clear-all"]{
    margin-top: 0.5em;
    background-color: rgb(202, 64, 64);
  }

  button[type="submit"][name="clear-all"]:hover{
    background-color: rgb(109, 29, 29);
  }

  .error {
    color: #ff0000;
    font-size: 1.2em;
    font-weight: bold;
  }