
#back {
    background-color: cornflowerblue;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#pointInformation {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#commentsContainer {
    border: 0.1em solid black;
    border-radius: 1.3em 0 0 1.3em;
    background-color: white;
    height: 15em;
    width: 70%;
    margin: 0.5em;
}

#comments {
    height: 15em;
    text-align: left;
    overflow: hidden scroll;
    color: black;
    /* TODO change colors */
    scrollbar-color: darkblue #e0e0e0;
    scrollbar-width: thin;
}

/* For mobile phones */
@media only screen and (max-width: 768px) {
    #commentsContainer {
        border: 0.1em solid black;
        border-radius: 1.3em;
        background-color: white;
        height: 15em;
        width: 90%;
        margin: 0.5em;
        padding: 0.6em 0.2em 0.6em 0;
    }
}

#comments section {
    border-bottom: 0.001em solid grey;
    margin-top: 0.5em;
}

#comments section a, #comments section p {
    margin-left: 0.5em;
}

#comments section a {
    color: darkslateblue;
}

button#selected {
    border-radius: 12px;
    background-color: darkblue;
    color: white;
    padding: 10px;
    margin: 5px;
}

button#unselected {
    border-radius: 12px;
    background-color: lightblue;
    color: white;
    padding: 10px;
    margin: 5px;
}
