.privacy-options,
.friends-options,
.friend-options {
  display: flex;
  flex-wrap: wrap;
}

.radio-option,
.checkbox-option {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 3px 10px;
  background-color: #f1f1f1;
  transition: all 0.3s ease; /* Add transition for smooth style changes */
}

.radio-option.selected,
.checkbox-option.selected {
  background-color: #028ad3;
  color: #fff;
  border-color: #005fa3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow for a more modern look */
}

.radio-option input[type="radio"],
.checkbox-option input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-option:hover,
.checkbox-option:hover {
  background-color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box-shadow on hover */
}

.radio-option.selected:hover,
.checkbox-option.selected:hover {
  background-color: #005fa3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add larger box-shadow on hover for selected options */
}
