.user-profile {
    margin: 0 2em 5em 2em;
}

.back-page-link, .back-page-link:visited {
    text-decoration: underline;
    color: cornflowerblue;
    font-size: small;
}

.back-page-link:hover {
    cursor: pointer;
}

.back-page-link:hover  {
    color: lightskyblue;
}

.friends-tables{
    margin-top: 3em;
}

.table-header {
    background-color: #002E66;
}

.paginated-table {
    minWidth: 650;
}
